*               -text

*.bat           text eol=crlf
*.txt           text eol=lf
*.sh            text eol=lf
*.csx           text eol=lf
*.yml           text eol=lf
Dockerfile      text eol=lf
